<div class="fieldset" id="main-image-form">
	<p class="main-title">Imagen de portada</p>
	<%= form_for @trip.main_image, url: images_admin_update_path(@trip.main_image), :method => :put do |f| %>
		<%= render partial: 'admin/trips/fields/image', locals: { f: f, trip_id: @trip.id } %>
		<div class="submit">
			<%= link_to 'Cancelar', 'javascript:void(0)', :class => 'hide-field', 'data-form' => 'main-image' %> <%= f.submit 'Guardar cambios' %>
		</div>
	<% end %>
</div>