<div class="fieldset" id="published-form">
	<p class="main-title">¿Es visible en la app?</p>
	<%= form_for @trip, url: :trips_admin_update, :method => :put do |f| %>
		<%= f.check_box :staging, :class => 'input' %>

		<div class="submit">
			<%= link_to 'Cancelar', 'javascript:void(0)', :class => 'hide-field', 'data-form' => 'published' %> <%= f.submit 'Guardar cambios' %>
		</div>
	<% end %>
</div>