<div class="fieldset" id="published-on-lite-version-form">
	<p class="main-title">¿Publicado en versión light?</p>
	<%= form_for @poi, url: :pois_admin_update, :method => :put do |f| %>
		<%= f.check_box :published_on_lite_version %>		
		<div class="submit">
			<%= link_to 'Cancelar', 'javascript:void(0)', :class => 'hide-field', 'data-form' => 'published-on-lite-version' %> <%= f.submit 'Guardar cambios' %>
		</div>
	<% end %>
</div>