.notice, .alert {
	width: 400px;
	font-size: 15px;
	text-align: center;
	padding: 10px;
	border-radius: 5px;
	font-family: 'Open Sans Condensed', sans-serif;
	margin: 15px auto 15px auto;
}

h1, h2, h3 {
	font-family: 'Open Sans Condensed', sans-serif;
}

.centered {
	text-align: center;
}

.highlighted {
	color: #EC9900 !important;
	.highlighted {
		color: #FF4800 !important;
	}
}

.notice {
	background-color: #57994C;
	color: #C7FFC6;
}

.alert {
	background-color: #D81A1E;
	color: #FFE3DA;
}

.card {
	margin: 20px auto 20px auto;
	font-family: 'Open Sans Condensed', sans-serif;
	background-color: white;
	width: 40%;
	border:  1px solid #DBDBDB;
	padding: 5px 15px;
	color: #555;
	
	.toggler {
		a {
			text-decoration: none;
		}
		margin-top: 5px !important;
		font-size: 13px;
		text-align: right;
	}
	
	.map {
		margin: 10px 0 10px 0;
		height: 200px;
		width: 100% !important;
	}
	
	.hoverable {
		padding: 5px !important;
		
		.title, .actions {
			width: 49%;
			display: inline-block;
		}
		
		.actions {
			text-align: right;
		}
	}
	
	.hoverable:hover {
		background-color: #E4E4E4;
	}
	
	.card > .details:hover {
		background-color: #F2F2F2;
	}
	
	.fieldset {
		display: none;
		padding: 20px;
		width: 90%;
		margin-top: 20px;
		margin-bottom: 20px;
		margin-left: auto;
		margin-right: auto;
		font-size: 15px;
		
		.main-title {
			font-weight: bold;
			padding: 0;
			margin-top: 10px;
			margin-bottom: 5px;
		}
		
		.field {
			padding: 5px;
			text-align: center;
		}
		
		.title {
			margin-left: 5px;
			display: inline-block;
			width: 45%;
		}
		
		.input {
			padding: 5px;
			margin: 3px;
			width:80%;
		}
		
		.submit {
			margin-top: 30px;
			text-align: center;
			
			a {
				margin-right: 10px;
				font-size: 12px;
			}
		}
	}
	

	
	.actions {
		list-style: none;
		margin: 10px 0;
		padding: 0;
		li {
			margin-right: 10px;
			display: inline-block;
			a {
				text-decoration: none;
			}
		}
	}
	
	.header {
		background-color: #F4F4F4;
		color: #6A6A6A;
		padding: 5px;
		
		> div.half-size {
			width: 49%;
			display: inline-block;
		}
		
		.creator p {
			text-align: right;
		}
		
		h3, p {
			margin: 0;
			padding: 0;
		}
	}
	
	.sub-header {
		
		font-size: 12px;
		ul {
			margin: 0 !important;
			padding: 10px;
			list-style: none;
			
			li {
				display: inline-block;
				margin-right: 20px;
			}
		}

	}
	
	.details {
		text-align: center;
		padding: 20px;
		margin-top: 20px;
		margin-bottom: 20px;
	}
	
	.table {
		border-top: 5px solid #284362;
		padding: 10px;
		background-color: #F7F7F7;
		
		.section {
			margin: 10px 0 10px 5px;
			color: #707070;
			font-size: 12px;
			text-transform: uppercase;
			font-weight: bold;
		}
		
		.row {
			padding: 5px;
			
			.section-title {
				font-weight: bold;
				
			}
			
			> div {
				width: 45%;
				display: inline-block;
			}
		}
		
		.path, .poi, .content {
			margin-left: 0px;
			padding: 5px;
			
			p {
				font-size: 14px;
				margin: 0;
				padding: 0;
				
				.status {
					text-transform: uppercase;
					font-size: 10px;
				}
				
				.kind {
					font-weight: bold;
				}
			}
			
			.details {
				font-size: 12px;
				text-align: left;
			}
			
			.title, .details {
				margin: 0;
				padding: 0;
			}
		}
	}
}

#map {
	margin-top: 10px;
	height: 180px;
	width: 100%;
}

