@font-face {
    font-family: 'infotextsemibold';
    src: asset-url('infotext-semibold-webfont.ttf') format('truetype'),
         asset-url('infotext-semibold-webfont.svg#infotextsemibold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'infotextmedium';
    src: asset-url('infotext-medium-webfont.ttf') format('truetype'),
         asset-url('infotext-medium-webfont.svg#infotextmedium') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'infotextnormal';
    src: asset-url('infotext-normal-webfont.ttf') format('truetype'),
         asset-url('infotext-normal-webfont.svg#infotextnormal') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'infotextbook';
    src: asset-url('infotext-book-webfont.ttf') format('truetype'),
         asset-url('infotext-book-webfont.svg#infotextbook') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'infotextbold';
    src: asset-url('infotext-bold-webfont.ttf') format('truetype'),
         asset-url('infotext-bold-webfont.svg#infotextbold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700,300italic);