@font-face {
    font-family: 'infotextsemibold';
    src: url('infotext-semibold-webfont.ttf') format('truetype'),
         url('infotext-semibold-webfont.svg#infotextsemibold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'infotextmedium';
    src: url('infotext-medium-webfont.ttf') format('truetype'),
         url('infotext-medium-webfont.svg#infotextmedium') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'infotextnormal';
    src: url('infotext-normal-webfont.ttf') format('truetype'),
         url('infotext-normal-webfont.svg#infotextnormal') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'infotextbook';
    src: url('infotext-book-webfont.ttf') format('truetype'),
         url('infotext-book-webfont.svg#infotextbook') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'infotextbold';
    src: url('infotext-bold-webfont.ttf') format('truetype'),
         url('infotext-bold-webfont.svg#infotextbold') format('svg');
    font-weight: normal;
    font-style: normal;

}