<% unless flash[:notice].blank? %>
	<div class="notice dismissable"><%= flash[:notice] %></div>
<% end %>
<% unless flash[:alert].blank? %>
	<div class="alert dismissable"><%= flash[:alert] %></div>
<% end %>